[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dirtyjson = "*"
pydub = "*"
mako = "*"
openai = "*"
redis = "*"
rq = "*"
sqlalchemy = "*"
aiosqlite = "*"
greenlet = "*"
pydantic-settings = "*"
asyncpg = "*"
uvicorn = "*"
boto3 = "*"
python-multipart = "*"
pyjwt = "*"
fastapi = {extras = ["standard"] }
python-dotenv = "*"
requests = "*"
secp256k1 = "*"

[dev-packages]
mypy = "*"
ruff = "*"
black = "*"
pytest = "*"
pytest-asyncio = "*"
boto3-stubs = "*"
types-requests = "*"
types-tqdm = "*"

[requires]
python_version = "3.10"
